body { background: lightsteelblue; color: navy; font-size: 14pt; }
body { font-family: 'inconsolata' , monospace;}

nav li { display: inline-block }



h1 { border-style: double; }
h1 { padding:10px; margin: 5px; background: white }

a { color: darkened; text-decoration: none }
a:hover { color: white }

.title { font-weight: bold; }

.special { color: darkgreen }

.picture {float: center }

